body{
	background-color: rgb(202, 227, 241);
	font-family: sans-serif;
}
#main {
	text-align: center;
}
h1{
	color: rgb(189, 17, 223);
	font-size: 50px;
}
#ins {
	font-size: 17px;
	margin-bottom: 50px;
}
#b1, #b2, #b3, #b4, #b5,
#b6, #b7, #b8, #b9 {
	width: 80px;
	height: 52px;
	margin: auto;
	border: 1px solid black;
	color: red;
	border-radius: 6px;
	font-size: 30px;
	text-align: center;
}
#but {
	display: block;
	box-sizing: border-box;
	width: 100px;
	height: 40px;
	border: 1px solid dodgerblue;
	margin: auto;
	border-radius: 4px;
	background-color: dodgerblue;
	color: white;
	font-size: 15px;
	cursor: pointer;
	margin-top: 50px;
	margin-bottom: 50px;
}
#but:hover{
	background-color: cyan;
	color: black;
}
#print {
	font-size: 20px;
}

@media only screen and (max-width: 600px) {
	body {
	  background-color: lightcyan;
	}h1{
		margin-top: 50px;
	}
	#ins{
		font-size: 20px;
	}
}

